@model List<MvcGridView.Models.Employee>
    @using GridMvc.Html
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        @Html.Grid(Model).Named("EmployeeGrid").Columns(c =>
   {
       c.Add(x => x.EmployeeID).Titled("Employee Id").Filterable(true).Sortable(true);
       c.Add(x => x.Name).Titled("Name").Filterable(true).Sortable(true);
       c.Add(x => x.Gender).Titled("Gender").Filterable(true).Sortable(true);
       c.Add(x => x.City).Titled("City").Filterable(true).Sortable(true);

   }).WithPaging(5).EmptyText("No data found")
        </div>

    </div>
